= stylesheet_link_tag 'static_pages'
= javascript_include_tag 'mandelbrot'

%h1.h-text The Mandelbrot and Julia Sets
%p.mandelbrot-mode-instructions
  using
  %span mouse movement
  to generate Julia set:
  %span{ id: 'mode-toggle' } use click
.pics
  .mandel
    %h2.h-text Mandelbrot set
    %canvas{ id: 'mandelbrot', height: 600, width: 600 }
  .jul
    %h2.h-text Julia Set (K = Mouseover Mandelbrot to set K)
    %canvas{ id: 'julia', height: 600, width: 600 }
