= stylesheet_link_tag 'static_pages'
= javascript_include_tag 'mandelbrot'

%h1.h-text The Mandelbrot and Julia Sets
%p.mandelbrot-mode-instructions
  %p
    On the left is the Mandelbrot fractal. Mouseover the Mandelbrot to generate
    the Julia fractal (on right) associated with the value at that point.
  %p
    using
    %span.h-text mouse movement
    to generate Julia set:
    %span.h-text#mode-toggle use click
.pics
  .mandel
    %h2.h-text Mandelbrot set
    %canvas{ id: 'mandelbrot', height: 600, width: 600 }
  .jul
    %h2.h-text
      Julia Set K =
      %span#k-label --
    %canvas{ id: 'julia', height: 600, width: 600 }
