%a{ href: 'resume.pdf' } View pdf version

.main-header
  %h1 Brian Mason

  .contact
    brian.dale.mason@gmail.com | 708.805.5302 (US) / +254 (0) 739 457 655 (Kenya)
    %br
    www.bmason.io | www.linkedin.com/in/briandmason | www.github.com/ofctlo

.main-content
  .section
    %h2.header Summary
    .content
      I am a software engineer with a focus on web development and experience in
      both front and back-end. I’m interested in creating clean and maintainable
      code and design. I love to build products that help people solve real world
      problems and I’m always curious to learn.

  .section
    %h2.header Work
    .content
      .sub-section
        %h3 Software Engineer – Brigade
        .dates June 2014 – August 2014 | San Francisco, CA
        .description
          &middot; On small team in charge of building a communications system
          spanning the Brigade Rails application and a separate Sinatra-based
          HTTP service for asynchronous filtering, digesting, rendering, and
          sending of millions of messages per hour to our users over multiple
          mediums, including email and push notifications.

      .sub-section
        %h3 Software Engineer – Causes
        .dates Sept. 2013 – June 2014 | San Francisco, CA
        .description
          &middot; Added features, fixed bugs, and maintained Causes, one of the
          worlds largest online campaigning and advocacy platforms.
          &middot; Built email sending and tracking service using Sinatra, Redis,
          Sidekiq.

      .sub-section
        %h3 Web Application Programmer, App Academy
        .dates May 2013 – July 2013 | San Francisco, CA
        .description
          &middot; Participated in full-time web development lab. Focus on Ruby
          on Rails, HTML/CSS, JavaScript, Backbone.js and development practices
          such as Git workflows, TDD, pair programming.

  .section
    %h2.header Technical Skills
    .content
      Rails, Sinatra, RSpec, JavaScript, jQuery, Backbone.js, React, Jasmine,
      HTML5, CSS3, Sass, mySQL, Sidekiq, Git

  .section
    %h2.header Projects
    .content
      .subsection
        %h3 Sanisalud
        .description
          &middot; Improved maintainability of codebase and managed the website
          for an aid organization working in Nicaragua. (www.sanisalud.org)

      .subsection
        %h3 Brello (Trello Clone)
        .description
          &middot; Built a clone of web app Trello using Backbone.js and Ruby
          on Rails.  I created a single-page app with a Backbone.js front-end
          and a Rails JSON API backend to provide a rich user experience. Users
          create and manage todos using a drag-and-drop interface, and can
          collaborate with other users on the their lists.
          (brello.herokuapp.com)

  .section
    %h2.header Education
    .content
      B.A., Russian Language and Literature, June 2009
      Carleton College, Northfield, MN

  .section
    %h2.header Related Coursework
    .content
      %ul
        %li Intro to Computer Science
        %li Software Design
        %li Computer Organization and Architecture
        %li Calculus II

  .section
    %h2.header Etc
    .content
      Biking, Backpacking, Hiking, Gardening, Reading: Philosophy, Physics,
      Religion, History
