default: &default
  host: localhost
  port: 3306
  username:
  password:
  adapter: mysql2
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: bmason_dev

test:
  <<: *default
  database: bmason_test

production:
  <<: *default
  database: bmason_prod
