body {
	background: #444444;
}

#pics {
	width: 1010px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	border: solid;
	border-width: 5px;
	border-color: black;
	background: #000000;
	border-radius: 10px;
}

#mandel, #jul {
	height: 600px;
	border: solid;
	border-width: 2px;
	border-color: #111111;
	background: #555555;
	border-radius: 10px;
}

#mandel {
	float: left;
}

#jul {
	float: right;
}

h1 {
	text-align: center;
	color: #cccccc;
}

h2 {
	text-align: center;
	color: #bbbbbb;
}