body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  background: #efefef;
}

span {
  background: black;
  color: white;
  padding: 0.3em;
}

.header {
  background: gray;
  margin: 0px;
  padding: 0;
}

.contact-form {
  input, textarea {
    min-height: 2em;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 300px;
    max-width: 300px;
    font-size: 1em;
    background: transparent;

    &:active, &:focus {
      border-bottom: 4px solid black;
    }
  }

  textarea {
    border: 2px solid black;
    min-height: 8em;
    margin-top: 2em;
    resize: none;
  }
}

.main-content {
  margin: 0 auto;
  max-width: 600px;
}

.project {
  list-style: none;
  margin-bottom: 0.5em;
}

button {
  color: white;
  font-size: 0.8em;
  background: black;
  border: none;
  padding: 1em;

  &:hover {
    background: gray;
  }

  &:active {
    background: black;
  }
}
