.header
  %a{ href: root_url }
    .header-main
      %h1
        %span.h-text brian mason
      %h2
        %span.h-text software engineer

  .header-nav-right
    %a{ href: resume_url } resume
    %a{ href: 'https://www.github.com/ofctlo', rel: 'me', nofollow: true } github
    %a{ href: 'https://www.linkedin.com/in/briandmason', rel: 'me', nofollow: true } linkedin
    %a{ href: 'https://plus.google.com/+BrianMason986', rel: 'me', nofollow: true } google+
