.header
  %a{ href: root_url }
    .header-main
      %h1
        %span.h-text brian mason
      %h2
        %span.h-text software engineer

  .header-nav-right
    %a{ href: 'https://www.github.com/ofctlo' } github
    %a{ href: 'https://www.linkedin.com/in/briandmason' } linkedin
    %a{ href: 'resume.pdf' } resume
